In [1]:
import pandas as pd

# โหลดไฟล์
hierarchy_df = pd.read_csv("item_hierarchy.csv")

C:\Users\ASUS\AppData\Local\Temp\ipykernel_22744\2987680122.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  hierarchy_df = pd.read_csv("item_hierarchy.csv")

In [ ]:
def get_item_info(item_id_input):
    item_id_input = str(item_id_input).strip()
    result = hierarchy_df[hierarchy_df['item_id'].astype(str) == item_id_input]
    if not result.empty:
        return result[['item_id', 'category', 'subcategory', 'brand']]
    else:
        return f"ไม่พบข้อมูลของ item_id: {item_id_input}"

# ตัวอย่างการใช้งาน:
get_item_info("1045318")

    item_id        category subcategory   brand
80  1045318  1 : FRESH FOOD       FRUIT  LOTUSS

In [ ]:
def get_item_info(item_id_input):
    item_id_input = str(item_id_input).strip()
    result = hierarchy_df[hierarchy_df['item_id'].astype(str) == item_id_input]
    if not result.empty:
        return result[['item_id', 'category', 'subcategory', 'brand']]
    else:
        return f"ไม่พบข้อมูลของ item_id: {item_id_input}"

# ตัวอย่างการใช้งาน:
get_item_info("75132591")

#ขายดีที่สุดเมื่อมีโปร

         item_id     category               subcategory    brand
126958  75132591  4 : HARDL E  MAJOR DOMESTIC APPLIANCE  SAMSUNG

In [ ]:
def get_item_info(item_id_input):
    item_id_input = str(item_id_input).strip()
    result = hierarchy_df[hierarchy_df['item_id'].astype(str) == item_id_input]
    if not result.empty:
        return result[['item_id', 'category', 'subcategory', 'brand']]
    else:
        return f"ไม่พบข้อมูลของ item_id: {item_id_input}"

# ตัวอย่างการใช้งาน:
get_item_info("52005699")

#สินค้าที่ปกติขายไม่ได้เลย แต่ขายได้ในช่วงมีโปรโมชั่น

         item_id      category     subcategory     brand
895579  52005699  10 : HARDL H  HOME FURNITURE  NO BRAND

In [10]:
def get_item_info(item_id_input):
    item_id_input = str(item_id_input).strip()
    result = hierarchy_df[hierarchy_df['item_id'].astype(str) == item_id_input]
    if not result.empty:
        return result[['item_id', 'category', 'subcategory', 'brand']]
    else:
        return f"ไม่พบข้อมูลของ item_id: {item_id_input}"

# ตัวอย่างการใช้งาน:
get_item_info("170979683")

          item_id     category    subcategory brand
261823  170979683  2 : DG FOOD  COLD BEVERAGE   NaN